@import url(//db.onlinewebfonts.com/c/d18acb2db67fb3aae1ccd198d37a10e9?family=YoungSerif);
@font-face {
  font-family: "YoungSerif";
  src: url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.eot");
  src: url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d18acb2db67fb3aae1ccd198d37a10e9.svg#YoungSerif")
      format("svg");
}
/* .App {
  text-align: center;
  background-color: rgb(221, 241, 244);
  padding: 5%;
}

#title {
  font-family: "YoungSerif";
}
a:link {
  text-decoration: none;
}

.list {
  padding-left: 0;
}

button {
  background-color: bisque;
  border: 2px black solid;
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
  width: 100px;
}

button:active {
  box-shadow: 2px 2px 2px grey;
}

.articleLink  {
    color: #0060B6;
    text-decoration: none !important;
}


.listItem {
  font-family: "YoungSerif";
  font-size: large;
  padding: 20px;
  margin: 15px auto;
  border: 5px solid black;
  width: auto;
  list-style: none;
}

.singleArticle {
   font-family: "YoungSerif";
  font-size: large;
  padding: 20px;
  margin: 15px auto;
  border: 5px solid black;
  width: auto;
  list-style: none;

}

.arcTitleForComms {
  font-size: xx-large;
  text-decoration: underline;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}