.App {
  text-align: center;
  background-color: rgb(221, 241, 244);
  padding: 5%;
}

.list {
  padding-left: 0;
  

}


.listItem {
  font-size: large;
  font-family: cambria;
  padding: 20px;
  margin: 15px auto;
  border: 5px solid black;
  width: auto;
  list-style: none;

}
